ngx-image-viewer {
  width: 400px;
  height: 200px;
  margin-top: 10px;
}
::ng-deep .img-container {
  height: 100px !important;
  width: 100px !important;
}
.expired {
  background-color: red;
  padding: 2px;
  color: white;
}

.serach {
  display: flex;
  align-items: center;
  float: left;
  direction: ltr;
  i.control-icon {
    &::before {
      font-size: 2.3rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.search-input {
  border: none;
  outline: none;
  margin-left: 1rem;
  text-align: right;
  height: 40px;
  width: 20rem;
  padding-right: 5px;
  transition: width 0.2s ease;

  &.hidden {
    width: 0;
    height: 0;
    margin: 0;
  }
}
.table-row {
  /*
    All of the base styles have
    moved to the “CSS” tab above.
  */
  transition: transform 250ms;
}

.table-row:hover {
  background-color: #708484;
  transform: translateY(-10px);
  cursor: pointer;
}
