<div class="container">
  <div class="row">
    <div class="col">
      <h3>قائمة المناطق المسموح بها</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-secondary mr-1" routerLink="/pages/areas/add">إضافة منطقة </button>
      <button type="button" class="btn btn-info mr-1">
        العدد <span class="badge badge-light">{{totalItems}}</span>
      </button>
    </div>
  </div>

  <div class="row" *ngIf=" !areasList">
    <div class="col">
      <p>لا يوجد مناطق</p>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col">
      <table id="excel-table" *ngIf="areasList" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">اسم المنطقة</th>
            <th scope="col">تم إنشاؤها</th>
            <th scope="col">تم تعديلها</th>
            <th scope="col">عمليات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let area of areasList">
            <th scope="row">{{area?.name}}</th>
            <th scope="row">{{area.created_at | date: 'short'}}</th>
            <th scope="row">{{area.updated_at | date: 'short'}}</th>
            <th scope="row">
              <!-- <button type="button" class="btn btn-outline-secondary mr-1 btn-sm"
                routerLink="/pages/areas/edit/{{area._id}}">تعديل</button> -->
              <button type="button" class="btn btn-outline-danger mr-1 btn-sm"
                (click)="deleteOneArea(area._id)">حذف</button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7"
        [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">هل تريد تأكيد الحذف ؟</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteareasList()">تأكيد الحذف</button>
  </div>
</ng-template>